.container {
    display: grid;
    grid-gap: 10px;
    text-align: center;
    padding: 50px;
    margin: 50px;
    margin-top: 0px;
    padding-top: 5px;
}

.left-block {
    display: grid;
    grid-gap: 10px;
}

.main-container {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
}

.left-mid-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    grid-gap: 10px;
}

.item {
    border: 1px solid black;
    margin: 5px;
    block-size: 110px;
    padding: 20px;
}

.item2 {
    padding: 190px;
}
